
    *{
        margin: 0;
        margin: 0;
        
    }

form{
    width: 20rem;
    background-color: rgba(3, 3, 3, 0.432);
    border-radius: 20px 2px;
    text-align: center;
    color: white;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 1rem;
    margin-top: 4rem;
 
}

.input-busca{
  width: 96%; 
  text-align: center;   
}


.btn-success{
    background-color: green;
    border: none;
    width: 95%;
}

label{
    font-size: 12px;
    text-align: left;
}