@media only screen and (max-width: 600px) {
    img{
        display: flex;
        margin: auto;
          width: 70%;
          height: 70%;
          margin-left: 85px;
       }

       .form-group{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
    
       } 

       .form-control{
        width:100%;
       
        margin-top: 1rem;
    
        text-align: center;
        
       }  

       .baixar{
         display: none;
       }

  }